/* 
    Document   : style
    Created on : 29 avr. 2013, 15:52:15
    Author     : smerlin
    Description:
        Purpose of the stylesheet follows.
*/

.main {
    margin-top:60px;
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}

h1.media-heading {
    text-transform: uppercase;
    word-spacing: -10px;
}
h1.media-heading small{
    word-spacing: 0px;
}
h1.media-heading span, .blue {
    color: #006DCC;
}

h2, .media strong, h2 a, h2 a:hover {
    color: #266399;
}

.dropdown-menu img{
    margin:5px;
}
.table-hover tbody tr{
    height: 57px;
}
.network{
    margin : 5px 0;
    clear:both;
    display:block;
}

.simple-list {
    padding: 0;
    margin: 0
}
.simple-list li{
    display:inline-block;
    margin : 5px 0;
    list-style-type: none;
}
.simple-list li img{
    margin-right: 10px;
}
.right{
    text-align: right;
}
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

.footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear:both;
  padding-top:20px;
} 